# Set
# unordered, unchangeable*, and unindexed.
* but you can remove items and add new items.
# Duplicates not allowed
duplicate values will be ignored:

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(type(thisset))

{'banana', 'cherry', 'apple'}
<class 'set'>

# **You cannot access items in set with index**

# Add Items
.add() method

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

.update() to add items from another set

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'pineapple', 'cherry', 'apple', 'mango'}

.update() can use with any iterable (tuples, lists, etc.)

In [ ]:
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'papaya', 'banana', 'pineapple', 'orange', 'cherry', 'apple', 'mango', 'kiwi'}

.union() method **returns** a new set containing all items from both sets

In [ ]:
thisset = {'uwu', 'Fey', 'Benon'}
thatset = {1, 2, 3}
newset = thisset.union(thatset)
print(newset)

{1, 2, 3, 'uwu', 'Fey', 'Benon'}

# Keep Only Duplicates
.intersection_update() method will keep the items that are present in both sets

In [ ]:
thisset = {'abc', 'def', 'tuv'}
thatset = {'def', 'uwu', 'OwO'}
thisset.intersection_update(thatset)
print(thisset)

{'def'}

.intersection() method will **return** a new set containing duplicates

In [ ]:
thisset = {'abc', 'def', 'tuv'}
thatset = {'def', 'uwu', 'OwO'}
newset = thisset.intersection(thatset)
print(newset)

{'def'}

# Keep all EXCEPT DUPLICATES
.symmetric_difference_update() method will keep **only** the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x) # no apple

{'banana', 'google', 'microsoft', 'cherry'}

.symmetric_difference() method **return** a new set with all items except duplicates.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z) # no apple again

{'banana', 'cherry', 'microsoft', 'google'}

# Remove Items from sets
This method(.discard()) is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.