# Set
# unordered, unchangeable*, and unindexed.
* but you can remove items and add new items.
# Duplicates not allowed
duplicate values will be ignored:

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(type(thisset))

{'banana', 'cherry', 'apple'}
<class 'set'>

# **You cannot access items in set with index**

# Add Items
.add() method

In [1]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

.update() to add items from another set

In [2]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'pineapple', 'cherry', 'apple', 'mango'}

.update() can use with any iterable (tuples, lists, etc.)

In [3]:
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'papaya', 'banana', 'pineapple', 'orange', 'cherry', 'apple', 'mango', 'kiwi'}