# Tuples

Tuple with 1 item. --> need to have , at the end

In [1]:
food = ("hamburger",)
print(type(food))
food = ("hamburger")
print(type(food))

<class 'tuple'>
<class 'str'>

# tuple() constructor

In [2]:
food = tuple(("hamburger", "rice", "sushi")) # note the double round-brackets
print(type(food))

<class 'tuple'>

# Change tuple values
you can't change it values. Tuples are **unchangable**(immutable).
but there is a workaround.

In [3]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add items
tuples is immutable -> do not have built-in append() method
but there are other ways to add items to a tuple.

1. Convert into a list as then convert back to tuple.

In [4]:
x = ("apple", "banana", "cherry")
y = list(x)
y.append("orange")
x = tuple(y)
print(x)

('apple', 'banana', 'cherry', 'orange')

2. Add tuple to a tuple.

In [5]:
x = ("apple", "banana", "cherry")
y = ("orange",)
x += y
print(x)

('apple', 'banana', 'cherry', 'orange')

# Remove Items
Tuples are unchangeable, so you can't remove items from it.
But you can use the same workaround just like adding or changing tuple items above!

In [6]:
x = ("apple", "banana", "cherry")
y = list(x)
y.remove("apple")
x = tuple(y)
print(x)

('banana', 'cherry')

# del keyword can remove tuple completely

In [7]:
x = ("apple", "banana", "cherry")
del x
# print(x) #error cuz x no longer exists

NameError: name 'x' is not defined

# Unpacking a Tuple
when we create a tuple, we normally assign values to it. <-- called "packing" a tuple.
In python, we are allowed to extract the values back into variables. <-- called "unpacking" a tuple.

In [8]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)
# note: number of variables must match the number of values in tuple.
# if not, you must use asterick to callect the remaining as a list.

apple
banana
cherry

# Using Asterick *
if number of variables is less than the number of values. you can add * to the variable name and the values will be assigned to the variable as list:

In [9]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green , yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# If the asterick is not at the last, Python will assign value until it matches.

In [1]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Join two Tuples
+ operator

In [2]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples
* operator

In [3]:
fruits = ("apple", "banana", "cherry")
mytuple =  fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')